.modal.fade#modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss="modal")
          span &times;
        h1 Add information
      .modal-body
        form(name="infoForm", novalidate)
          .form-group(ng-class="{'has-success': infoForm.n.$dirty && main.person.name.length > 1, 'has-error': infoForm.n.$dirty && !main.person.name}")
            label.control-label Name
            input.form-control(name="n", type="text", placeholder="John", ng-model="main.person.name", required)
          .form-group(ng-class="{'has-success': infoForm.bev.$dirty && main.person.beverage, 'has-error': infoForm.bev.$dirty && !main.person.beverage}")
            label.control-label Beverage of choice
            input.form-control(name="bev", type="select", placeholder="beer", ng-model="main.person.beverage", required)
            select.form-control
              option Beer
              option Bourbon
              option Champagne
              option Wine
          .form-group(ng-class="{'has-success': infoForm.pic.$dirty && infoForm.i.$valid , 'has-error': infoForm.pic.$dirty && infoForm.i.$invalid }")
            label.control-label Photo
            input.form-control(name="i", type="url", placeholder="http://google.com/img.jpg", ng-model="main.person.photo", required)
      .modal-footer
        button.btn.btn-danger(data-dismiss="modal") Cancel
        button.btn.btn-primary(ng-click="infoForm.$valid && main.saveAddress()", ng-disabled="infoForm.$invalid") Save
